{% if page.footer or page.footer_bottom %}
  <footer class="bg-gray-900">
    {% if page.footer_bottom %}
      <div class="container">
        <div class="row py-14">
          {{ page.footer }}
        </div>
      </div>
    {% endif %}

    {% if page.footer_bottom %}
      <div class="footer-bottom">
        <div class="container">
          <div class="row py-6">
            {{ page.footer_bottom }}
          </div>
        </div>
      </div>
    {% endif %}
  </footer>
{% endif %}

