body {
  font-family: 'Roboto', sans-serif;
}

.layout-container {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

img{
  max-width: 100%;
  height: auto;
}

.form-type-webform-markup,
.field--type-text-with-summary,
.field--type-text-long {
  p:last-child {
    margin-bottom: 0;
  }
}

.block-type-video-block,
.block-views-blockteam-block-1,
.block-type-pricing-block,
.block-type-our-working-process-block,
.block-type-features-block,
.block-type-about-us-block {
  .block-title{
    text-align: center;
  }
}
