@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
//@import "components/footer";

body {
  font-family: 'Roboto', sans-serif;
}




.partner-image {
  img {
    width: 144px;
    height: 48px;
  }
}

.feature-icon {
  width: 130px;
  height: 130px;
  background: $gray-200;
  border-radius: 50%;

  img {
    width: 48px;
    height: 48px;
  }
}


.btn {
  .btn-link {
    font-weight: 500;
  }
}


img {
  width: 100%;
}

.bg-gray-900 {
  background-color: $gray-900;
}

.bg-gray-100 {
  background-color: $gray-100;
}

.badge {
  margin-bottom: $spacer * 0.75;
  line-height: 1.3;
}

.badge-primary-soft {
  background-color: #E9EEFD;
  color: $blue-lighter;
}

.service-image {
  img {
    width: 64px;
    height: 64px
  }
}

.webform-submission-newsletter-form {
  .webform-element-description {
    padding-bottom: 12px;
  }
}

.process-icon {
  img {
    width: 110px;
    height: 130px;
  }
}

footer {

  .footer-bottom {
    border-top: 0.2px solid $gray-600;

    p {
      color: $gray-200;
    }
  }
}

