{% if page.footer or page.footer_brand or page.footer_bottom %}
  <footer class="footer bg-dark">
    <div class="container">
      <div class="row py-md-13 py-7">
        <div class="col-12 col-lg-4 col-xl-3 pb-6 pb-lg-0">
          {% if page.footer_brand %}
            {{ page.footer_brand }}
          {% endif %}
        </div>

        <div class="col-12 col-lg-8 offset-xl-1 ps-md-0">
          {% if page.footer %}
            {{ page.footer }}
          {% endif %}
        </div>
      </div>
    </div>

    {% if page.footer_bottom %}
      {{ page.footer_bottom }}
    {% endif %}
  </footer>
{% endif %}

