{% if  page.brand or page.primary_menu %}
  <header class="navbar navbar-expand-lg navbar-light bg-white my-4 p-0">
    <div class="container">
      {{ page.brand }}
      {#  toggler #}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        {{ page.primary_menu }}
      </div>
    </div>
  </header>
{% endif %}
