/**
 team pages styles
 */
.view-team {
  &.view-display-id-page_1 {
    .team-item {
      margin-bottom: 1.87500rem;
    }

    img {
      height: 270px;
    }

    .card {
      background: $gray-100;

      &:hover {
        box-shadow: 0 0.5rem 1rem rgba(22, 28, 45, .15) !important;
      }

      .field--type-link {
        display: inline-block;
        margin-right: .75rem;

        i {
          color: $gray-700;
          padding: .5rem;
          border: 1px solid $gray-700;
          border-radius: 50%;
          -moz-transition: all .2s ease-in-out;
          -ms-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

          &:hover {
            background: $primary;
            border: 1px solid $primary;
            color: $white;
          }
        }

      }
    }
  }

  &.view-display-id-page_2 {
    img {
      height: 300px;
    }

    .team-item {
      margin-bottom: 5.1875rem;

      .node__content {
        position: relative;
      }

      .social-links {
        opacity: 0;
        display: none;
        transition: .5s;
      }

      .field--name-field-job {
        transition: .5s;
      }
    }

    .team-item {
      &:hover {
        .field--name-field-job {
          opacity: 0;
          display: none;
        }

        .social-links {
          opacity: 1;
          display: block;
        }
      }
    }


    .team-overlay-content {
      position: absolute;
      background: $white;
      box-shadow: 0 0.5rem 1rem rgba(22,28,45,.15) !important;
      width: 80%;
      min-height: 107px;
      bottom: -53px;
      margin: 0 10%;
      padding: 1rem 1.5rem;
      text-align: center;
      transition: .3s;

      .field--name-field-job {
        color: $gray-800;
      }

      .item-title {
        a {
          color: $black;
        }
      }

    }

    .field--type-link {
      display: inline-block;

      i {
        color: $gray-800;
        padding: .5rem;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:hover {
          color: $gray-600;
        }
      }

    }
  }

  &.view-display-id-block_2,
  &.view-display-id-page_3 {

    .more-link {
      text-align: center;
      margin-top: 1.5rem
    }

    img {
      height: 300px;
    }

    .team-item {
      margin-bottom: 1.87500rem;
    }

    .node__content {
      position: relative;
    }

    .team-item:hover .team-overlay {
      opacity: 1;
    }

    .team-overlay {
      background-color: rgba($primary, .8);
      position: absolute;
      height: 300px;
      opacity: 0;
      text-align: center;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .team-overlay-content {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 20px;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        .field--name-field-job {
          color: $white;
        }

        .item-title {
          a {
            color: $white !important;
          }
        }

      }

    }

    .field--type-link {
      display: inline-block;

      i {
        color: $gray-200;
        padding: .5rem;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:hover {
          color: $white;
        }
      }

    }

    .join-us-row {
      background: $primary;
      height: 300px;
      color: $white;
      padding: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.view-display-id-page_4 {
    img {
      height: 270px;
      width: 270px;
      border-radius: 50rem;
    }

    .team-item {
      margin-bottom: 1.87500rem;

      .node__content {
        position: relative;
      }
    }

    .team-item:hover .team-overlay {
      opacity: 1;
    }

    .team-overlay {
      background-color: rgba($primary, .8);
      position: absolute;
      width: 270px;
      height: 270px;
      opacity: 0;
      text-align: center;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      border-radius: 50rem;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .team-overlay-content {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 20px;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        .field--name-field-job {
          color: $white;
        }

        .item-title {
          a {
            color: $white !important;
          }
        }

      }

    }

    .field--type-link {
      display: inline-block;

      i {
        color: $gray-200;
        padding: .5rem;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:hover {
          color: $white;
        }
      }

    }

    .join-us-row {
      background: $primary;
      border-radius: 50rem;
      width: 270px;
      height: 270px;
      color: $white;
      padding: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.view-display-id-page_5 {
    img {
      height: 300px;
    }

    .team-item {
      margin-bottom: 1.87500rem;
      position: relative;
    }

    .team-item:hover .team-overlay {
      opacity: 1;
    }

    .team-overlay {
      background-color: rgba($primary, .8);
      position: absolute;
      opacity: 0;
      text-align: center;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 1.5rem;

      .team-overlay-content {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 20px;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        .field--name-field-job {
          color: $white;
        }

        .item-title {
          a {
            color: $white;
          }
        }
      }

    }

    .field--type-link {
      display: inline-block;

      i {
        color: $gray-200;
        padding: .5rem;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:hover {
          color: $white;
        }
      }

    }

    .join-us-row {
      background: $primary;
      color: $white;
      padding: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.view-display-id-attachment_1 {
    img {
      width: 100%;
      height: 100%;
    }

    .field--type-link {
      display: inline-block;
      margin-right: .75rem;

      i {
        color: $gray-700;
        padding: .5rem;
        border: 1px solid $gray-700;
        border-radius: 50%;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:hover {
          background: $primary;
          border: 1px solid $primary;
          color: $white;
        }
      }

    }
  }

}


.expertise-block {
  .display-1 {
    font-weight: 500 !important;
    color: $primary !important;
    display: inline;
    float: left;
    margin-right: 15px;
  }

  .expertise-years {
    display: flex;
    align-items: center;
  }

  h3 {
    font-size: 2rem;
  }
}


.node--type-team-member {
  .member-details {
    .field--name-field-job {
      font-weight: 500;
      margin-bottom: .75rem;
    }

    .field--type-link {
      display: inline-block;

      i {
        color: $gray-700;
        padding: .5rem;
        border: 1px solid $gray-700;
        border-radius: 50%;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:hover {
          background: $primary;
          border: 1px solid $primary;
          color: $white;
        }
      }

    }
  }

  .member-skills {

    .field--name-field-title {
      display: inline-block;
      margin-bottom: .5rem
    }

    .percentage-value {
      float: right;
    }

    .progress {
      background: $gray-300;
    }
  }


}


// Block Team
.block-views-blockteam-block-1 {

  img {
    height: 270px;
    //min-height: 295px;
  }

  .field--type-link {
    display: inline-block;
    margin-right: .75rem;

    i {
      color: $gray-700;
      padding: .5rem;
      border: 1px solid $gray-700;
      border-radius: 50%;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;

      &:hover {
        background: $primary;
        border: 1px solid $primary;
        color: $white;
      }
    }

  }

  //.card-odd {
  //  &:before {
  //    content: '';
  //    position: absolute;
  //    left: 46%;
  //    top: -1.3rem;
  //    width: 0;
  //    height: 0;
  //    border-left: .75rem solid transparent;
  //    border-right: .75rem solid transparent;
  //    border-top: .75rem solid transparent;
  //    border-bottom: .75rem solid $white;
  //  }
  //}
  //
  //.card-even {
  //  &:after {
  //    content: '';
  //    position: absolute;
  //    top: 99%;
  //    width: 0;
  //    height: 0;
  //    clear: both;
  //    z-index: 99;
  //    left: 46%;
  //    border-left: .75rem solid transparent;
  //    border-right: .75rem solid transparent;
  //    border-top: .75rem solid $white;
  //    border-bottom: .75rem solid transparent;
  //  }
  //}

  .swiper-pagination {
    position: initial;

    &.swiper-pagination-bullets {

      .swiper-pagination-bullet {
        margin-right: .5rem;
        width: .75rem;
        height: .75rem;
        background: $gray-400;
        opacity: 1;

        &.swiper-pagination-bullet-active {
          background: $primary;
        }
      }
    }
  }


  /**
     Small devices
   */
  //@include media-breakpoint-up(sm) {
  //  img {
  //    min-height: 350px;
  //  }
  //}

  /**
     Medium devices
   */
  //@include media-breakpoint-up(md) {
  //  img {
  //    min-height: 295px;
  //  }
  //}

  /**
     Large devices
   */
  //@include media-breakpoint-up(lg) {
  //  img {
  //    min-height: 324px;
  //  }
  //}

  /**
     Extra Large devices
   */
  //@include media-breakpoint-up(xl) {
  //  img {
  //    min-height: 300px;
  //  }
  //}

}
