//Button Back To Top
.btn-back-to-top {
  width: 2.5rem;
  height: 2.5rem;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  line-height: 2.5rem;
  font-size: 1rem;
  display: none;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover{
    opacity: 0.8;
    background: $primary!important;
  }
}
