// Block Pricing
.block-type-pricing-block {
  .block-title {
    text-align: center;
  }

  .field__items {

    .field__item {
      border-radius: .25rem;

      h4 {
        font-weight: $font-weight-medium;
        margin-bottom: 1.5rem;
        color: $black;
      }

      .display-4 {
        font-weight: $font-weight-bolder;
        display: inline-block;
        color: $black;
      }

      .field--name-field-period {
        display: inline-block;

        &::before {
          content: '/'
        }
      }

      .field--name-field-options {
          li {
            padding-bottom: 8px;
          }
      }


      &.item-1 {
        background: $primary;
        color: $gray-200;

        h4 {
          color: $gray-200;
        }

        .display-4 {
          color: $gray-200;
        }

        .btn {
          color: $white;
          border-color: $white;
        }
      }

      &:hover {
        background: $primary;
        color: $gray-200;

        h4 {
          color: $gray-200;
        }

        .display-4 {
          color: $gray-200;
        }

        .btn {
          color: $white;
          border-color: $white;
        }
      }
    }
  }
}



