// Blocks call to action
.block-type-call-to-action {
  .block-icon {
    img {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}

// TODO: refactoring
.block-type-job-offers-cta,
.block-webform-block {
  min-height: 16.0625rem;
}
