// Block Features
.block-type-features-block {

  .paragraph--type--feature-item {
    //transition: .5s;

    .field--name-field-image {
      width: 8rem;
      height: 8rem;
      background: $gray-200;
      border-radius: 50%;

      .field__item {
        line-height: 8rem;
      }

      img {
        width: 3rem;
        height: 3rem;
      }
    }

    &.item-2 {
      background: $primary;
      color: $white;

      h3 {
        color: $gray-200;
      }

      .btn {
        color: $gray-100;

        &:after {
          color: $gray-100;
        }
      }
    }

    &:hover {
      background: $primary;
      color: $white;
      //transform: translateY(-10px);
      h3 {
        color: $gray-200;
      }

      .btn {
        color: $gray-100;

        &:after {
          color: $gray-100;
        }
      }
    }
  }

  // for sm
  .field__items {
    .field__item {
      padding-bottom: 1.75rem;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

}








