// Block Services
.block-type-services-block {

  .service-image {
    img {
      width: 3rem;
      height: 3rem;
    }
  }

  h5 {
    color: $gray-800;
  }

  .field__items {
    margin-bottom: 3.75rem;

    .field__item {
      border-radius: .5rem;
    }

    .item {
      &:nth-child(odd) {
        top: 5.625rem;
        position: relative;
      }
    }
  }
}


