// Block Pricing
.block-type-pricing-block {
  .field--name-field-pricing-plans {
    .field__item {

      .field--name-field-period {
        &::before {
          content: '/'
        }
      }

      .field--name-field-options {
        li {
          padding-bottom: .5rem;
        }
      }

      &.item-1 {
        background: $primary;
        color: $gray-200;

        h4 {
          color: $gray-200!important;
        }

        .display-4 {
          color: $gray-200!important;
        }

        .btn {
          color: $white;
          border-color: $white;
        }
      }

      &:hover {
        background: $primary;
        color: $gray-200;

        h4 {
          color: $gray-200!important;
        }

        .display-4 {
          color: $gray-200!important;
        }

        .btn {
          color: $white;
          border-color: $white;
        }
      }
    }
  }
}



