// Block our process
.block-our-process-team {
  background: linear-gradient(0.07deg, $gray-100 23.31%, $white 99.14%);

  .block-type-our-working-process-block {
    .block-title {
      text-align: center;
    }

    img {
      width: 110px;
      height: 130px;
    }
  }
}
