

.block-type-features-block{
  .block__title{
    text-align: center;
  }
}

.paragraph--type--feature-item.item-2 {
  background: $primary;
  color: $white;

  h3 {
    color: $gray-200;
  }

  .btn {
    color: $gray-100;
  }

  a:after {
    color: $gray-100;
  }
}

.paragraph--type--feature-item {

  transition: .5s;
  border-radius: 8px;

  .field--name-field-description {
    p {
      margin-bottom: 1.5rem;
    }
  }

  &:hover {
    background: $primary;
    color: $white;
    transform: translateY(-10px);

    h3 {
      color: $gray-200;
    }

    .btn {
      color: $gray-100;
    }

    a:after {
      color: $gray-100;
    }

  }
}




.feature-icon {
  width: 130px;
  height: 130px;
  background: $gray-200;
  border-radius: 50%;

  .field__item {
    line-height: 130px;
  }

  img {
    width: 48px;
    height: 48px;
  }
}



.paragraph--type--feature-item a:after {
  content: "\EA6C";
  width: 12px;
  height: 12px;
  margin-left: 8px;
  color: $primary;
  font-family: 'remixicon';
  vertical-align: middle;
  font-weight: 600;
}
