
.block-type-call-to-action{
  border-radius: 4px!important;
}

.block-icon img {
  width: 48px;
  height: 48px;
}

.block-content {
  padding-left: 32px;
}

.block-type-job-offers-cta,
.block-webform-block {
  min-height: 257px;
  border-radius: 4px;
}
