// Block Services
.block-type-services-block {

  .field__items {
    margin-bottom: 3.75rem;

    .item {
      &:nth-child(odd) {
        top: 5.625rem;
        position: relative;
      }

      img {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}


