// Block Services
.block-type-services-block {

  .field__items {
    margin-bottom: 0;

    .service-item {
      margin-bottom: 1.87500rem;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(odd) {
        top: 0;
        position: initial;
      }

      img {
        width: 3rem;
        height: 3rem;
      }
    }
  }


  /**
      Medium devices
   */
  @include media-breakpoint-up(md) {
    .field__items {
      .service-item {
        &:nth-last-child(1),
        &:nth-last-child(2) {
          margin-bottom: 0;
        }
      }
    }

  }


  @include media-breakpoint-up(xl) {
    .field__items {
      margin-bottom: 3.75rem;

      .service-item:nth-child(odd) {
        top: 5.625rem;
        position: relative;
      }

      .service-item {
        &:nth-last-child(1),
        &:nth-last-child(2) {
          margin-bottom: 1.87500rem;
        }
      }
    }
  }
}


