// Block Video
.block-type-video-block {
  // Todo:
  padding-bottom: 10rem;
  padding-top: 10rem;

  .block-title {
    text-align: center;
    color: $white;
  }

  .container {
    position: relative;
    z-index: 99;
  }

  h2 {
    color: $white;
  }

  .btn {
    i {
      color: $primary;
    }
  }

  &:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: all .2s ease;
    background: $primary;
    opacity: 0.5;
    content: '';
    position: absolute;
  }
}
