// Block carrousel
.block-type-carrousel {

  img {
    width: 100%;
    //height: 850px;
    height: 450px;
  }

  .slide-item-content {
    transform: translateY(-50%);

    .btn-primary {
      &.btn-icon-arrow {
        &:after {
          color: $gray-200;
        }
      }
    }

  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    left: 4rem;

    &:after {
      content: "\EA64";
      font-family: $font-family-remixicon;
      background: $white;
      color: $gray-900;
      font-size: 1.5rem;
      padding: .75rem;
    }
  }

  .swiper-button-next {
    right: 4rem;

    &:after {
      content: "\EA6E";
      font-family: $font-family-remixicon;
      background: $white;
      color: $gray-900;
      font-size: 1.5rem;
      padding: .75rem;
    }
  }

  .swiper-pagination-bullets {
    //bottom: 4rem !important;
    bottom: 1.5rem !important;

    .swiper-pagination-bullet {
      margin-right: .5rem;
      width: .75rem;
      height: .75rem;
      background: $gray-200;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background: $primary;
      }
    }
  }

  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: block;
    }
  }
}


