/**
 Block carrousel
 */
.block-type-carrousel {

  .paragraph--type--carrousel-item {
    position: relative;
    height: 80vh;
    width: 100%;
    background: no-repeat top center;
    background-size: cover;

    .content {
      position: relative;
      height: 100%;

      .slide-item-content {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);

        .btn-primary {
          &.btn-icon-arrow {
            &:after {
              color: $gray-200;
            }
          }
        }
      }
    }

    &:before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    left: 4rem;

    &:after {
      content: "\EA64";
      font-family: $font-family-remixicon;
      background: $white;
      color: $gray-900;
      font-size: 1.5rem;
      padding: .75rem;
    }
  }

  .swiper-button-next {
    right: 4rem;

    &:after {
      content: "\EA6E";
      font-family: $font-family-remixicon;
      background: $white;
      color: $gray-900;
      font-size: 1.5rem;
      padding: .75rem;
    }
  }

  .swiper-pagination-bullets {
    bottom: 4rem !important;

    .swiper-pagination-bullet {
      margin-right: .5rem;
      width: .75rem;
      height: .75rem;
      background: $gray-200;
      opacity: 1;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;

      &.swiper-pagination-bullet-active {
        background: $primary;
      }
    }
  }


  /**
     Small devices
   */
  @include media-breakpoint-up(sm) {
    .paragraph--type--carrousel-item {
      height: 60vh;
    }
  }


  /**
     Medium devices
   */
  @include media-breakpoint-up(md) {
    .paragraph--type--carrousel-item {
      height: 100vh;

      .content {
        .slide-item-content {
          left: 10%;
          right: 10%;
        }
      }
    }

    .swiper-button-prev {
      left: 2rem;
    }

    .swiper-button-next {
      right: 2rem;
    }

    &:hover {
      .swiper-button-prev,
      .swiper-button-next {
        display: block;
      }
    }

  }

}

