// footer section
.footer{

  .block-title {
    color: $white;
    margin-bottom: 1.5rem;
  }

  p {
    color: $gray-400;
  }

  a {
    color: $gray-400;
    &.is-active {
      color: $white;
      font-weight: $font-weight-medium;
    }
  }

  // footer brand section
  .region-footer-brand {
    .block-type-social-links {
      .field--type-link {
        i {
          color: $gray-400;
          padding: .5rem;
          border: 1px solid $gray-400;
          border-radius: 50%;
          &:hover{
            background: $primary;
            border: $primary;
          }
        }
      }
    }
  }

  // footer links section
  .region-footer {
    .nav {
      flex-direction: column !important;
      .nav-link {
        padding-left: 0;
      }
    }
  }

  // footer bottom
  .footer-bottom {
    border-top: 1px solid $gray-800;
  }
}
