// Header section
header {

  .navbar {
    line-height: 2.125rem;
  }

  // region primary menu
  .region-primary-menu {
    display: inherit;
    flex-grow: inherit;
  }

  // main menu
  .menu--main {

    .dropdown {
      margin-right: .25rem;

      .nav-link {
        &:after {
          content: "\EA4E";
          margin-left: 0.125rem;
          color: $gray-800;
          font-family: $font-family-remixicon;
          vertical-align: middle;
        }

        &.is-active {
          color: $primary !important;
          font-weight: $font-weight-bolder;
          &:after {
            color: $primary !important;
          }
        }
      }
    }
  }
}




